/*---------sections---------*/

section{
	position: relative;
	display: flex;
	width: 100%;
	min-height:  100vh;
	flex-grow: column-wrap;
	align-items: center;
	font-size: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../images/bg2.png);
}

section:nth-child(2), section:nth-child(3), section:nth-child(4){
	background-color: #ffffff;
	background-image: linear-gradient(#ffffff,  #ffffff);
}

#aboutMe{
	min-height: 55vh;
}

#about{
	min-height: 5vh;
}

.card-title, #work button{
	text-transform: uppercase;
	color: #E85D75;
	font-weight: bolder;
	font-family: 'Nunito';
}

.card-body, #work button{
	background-color: transparent;
	border: none; 
	box-shadow: 0 2px 20px 0 rgba(1,1,1,0.24);
} 

/*---------s: home---------*/

.homeContainer{
	background-color: transparent;
	width: 100%;
	color: #231F20;
}

.homeContainer h2{
	font-family: 'Righteous';
}

.homeContainer h3, #about p{
	color: #202A6A;
}
/*---------s: home---------*/

/*---------s:about---------*/
.aboutMeContainer{
	width: 95%;
	margin-top: 5vh;
}

.about-title h1, #work h1{
	text-transform: uppercase;
	font-weight: bolder;
}

.about-title span, #work h1 span{
	color: #202A6A;
}

.about-desc p{
	text-align: left;
	width: 85%;
	color: #231F20 !important;
}

.profilePic{
	height: 55vh;
	position: relative;
	bottom: 0;
}

.about-title, .about-desc, .profilePic{
	display: none;
}

.contacts-btn{
	border-radius: 100%;
	border: none;
	background-color: #E85D75;
	height: 2em;
	width: 2em;
	margin: 1%;
}

.contacts-btn a{
	color: #ffffff;
}

.contacts-btn:hover{
	background-color: #202A6A;
}

.cursive{
	font-family: 'Stalemate';
	display: none;
}

.link{
	display: none;
}

#aboutMe span, #work span{
	color: #E85D75;
	font-weight: bold;
}

.intro{
	font-weight: bold;
}

#aboutMe p, #work h5{
	font-family: 'Montserrat';
	font-size: 0.85rem;
}

#about a{
	text-decoration: none;
}

.aboutContainer, .workContainer{
	justify-content: center;
	text-align: center;
	align-content: center;
	width: 95%;
}

.about-img{
	display: none;
}

/*---------s:about---------*/

/*---------s: work---------*/
.workContainer{
	margin-left: 2.5vw;
	text-align: left;
}

.highlights{
	color: #202A6A;
}

#work button{
	height: 10vh;
	width: 100%;
}

#work li{
	font-family: 'Montserrat';
}

.wave, .splitHorizon{
	display: none;
	position: absolute;
	top: 0;
}

.workContainer h1{
	font-weight: bolder;
}	

.languages h6{
	background-color: #E85D75;
	color: #ffffff;
	margin-right: 0.5em;
	padding: 0.45em;
	font-size: 80%;
	border-radius: 5%;
}

.wip{
	background-color: #202A6A !important;
}
/*---------s: work---------*/

/*---------sections---------*/

/*----------footer----------*/

footer{
	text-align: center;
	background-color: #202A6A;
	padding: 5%;
	color: #ffffff;
	height: 25vh;
}

/*----------footer----------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.homeContainer{
		margin: 2vw;
	}

	.aboutContainer, .aboutMeContainer{
		margin: 5vw;
	}

  	.homeContainer h2{
		font-size: 30vw;
	}

	.homeContainer h3{
		font-size: 15vw;
		margin-top: -9.5vw;
		margin-bottom: -2.5vw;
	}

	.homeContainer h4{
		font-size: 2.78vw;
	}

}

/* Medium devices (landscape tablets, 601px and up) */
@media only screen and (min-width: 601px){
	.homeContainer,.aboutContainer{
		margin: 5vw;
	}

	.homeContainer h2{
		font-size: 25vw;
	}

	.homeContainer h3{
		font-size: 12vw;
		margin-top: -8vw;
		margin-bottom: -2vw;
	}

	.homeContainer h4{
		font-size: 2.2vw;
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/*body {background: white;}*/

	section{
		background-image: url(../images/bg3.png);
	}

	section:nth-child(3){
		background-color: #E85D75;
		background-image: linear-gradient(#E85D75,  #E85D75);
	}

  	.homeContainer{
		margin-left: 18vw;
	}

  	.homeContainer h2{
		font-size: 15vw;
	}

	.homeContainer h3{
		font-size: 7vw;
		margin-top: -4.5vw;
		margin-bottom: -0.75vw;
		color: #E85D75;
	}

	.homeContainer h4{
		font-size: 1.3vw;
	}

	#about h2{
		font-size: 2vw;
	}

	#about a:hover{
		background-image: url(../images/overlay.png);
	}

	.profilePic, .cursive, .link, .about-title, .about-desc{
		display: flex;
	}

	.aboutCards{
		margin-top: 3%;
	}

	.about-title h1, #work h1{
		text-align: right;
	}

	.wave,.splitHorizon{
		display: flex;
	}

	.workContainer row{
		height: 50vh;
	}
} 
